#container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px auto;
}

canvas {
    margin: 0;
}

#inGameUI {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
}